body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 56px;
  background-color: #0288D1;
}

.navbar .primary {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.navbar .secondary {
  flex: 2;
  display: flex;
  align-items: center;
}

.navbar .aux {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.navbar .project-name {
  display: inline-block;
  margin-left: 8px;
  margin-right: 24px;
  padding-right: 24px;
  border-right: 1px solid rgba(255,255,255,0.2);
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 1;
}

.navbar .navbar-button {
  border: none;
  border-radius: 2px;
  background-color: rgba(255,255,255,0.2);
  padding: 10px 15px;
  margin: 0 -4px 0 12px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  transition: ease-out box-shadow .2s;
  font-size: 0.9em;
}

.navbar .navbar-button:hover {
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.navbar .text {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
}

.component-container {
  display: block;
  height: 500PX;
  width: 500px;
  margin: 40px auto 0 auto;
  padding: 30px;
  background-color: #FFF;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.4);
}