.square {
  position: absolute;
  border: 2px solid #448AFF;
  height: 50px;
  width: 81px;
  opacity: 0.5;
  transform: scale(0) rotate(0deg);
}

.square-appear {
}

.square-appear.square-appear-active {
  opacity: 1;
  transition: all 600ms;
}

.square-enter {
}

.square-enter.square-enter-active {
  opacity: 1;
  transition: all 600ms;
}

.square-leave {
}

.square-leave.square-leave-active {
  opacity: 0;
  transform: scale(2) rotate(135deg);
  transition: all 600ms;
}